html, body, form, fieldset, table, tr, td, img {
    margin: 0;
    padding: 0;
    font: 100%/150% Georgia, Times, "Times New Roman", serif;;
}

input, button, select, textarea, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

a{
    text-decoration: none;
    color: #42C0FB;
   
}
a:hover{
    color:deeppink;
}
#logo {
 display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

.tbtitle {
    text-align: center;
   display: inline-block;
   
    
}
header {
    margin-top: 10px;
	width: 100%; 
	
}

body {
  margin: 0;
  padding: 0;
  background-color: gainsboro;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  
 
}

label {
    color: #fff;
}

form {
    line-height: 1em;
}

input {
    /*display:inline-block;*/
   
}
/*navigation bar styles */ 
.navul {
  list-style: none;
  background-color: #005f5f;
  text-align: center;
  padding: 0;
  margin: 0;
  
}
ul {
  list-style: none;
  
  text-align: center;
  padding: 0;
  margin: 0;
  
}

.main{
  list-style:  none;
  text-align: center;
  padding: 0;
  margin: 0;
  display: inline;
  width: 100%;
  
}

 .nav li {
    width: 150px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
   
  }

  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #888;
}


 
.logo
{   
    background-image: url('tblogo.PNG');
    background-repeat: no-repeat;
    background-position: 50% 5px;
    background-size: 65px;
}
 
.mainSearch {
    text-align: center;
}
.searchBtn {
     position: absolute;
    top: 50%;
}

 #inner {
  display: table;
  margin: 0 auto;
  }
  
  .inner {
       background-color:  #005f5f;
       width: 500px; 
       border-radius: 15px;
  }
  
  .index{
       background-color:  #005f5f;
       width: 70%; 
       border-radius: 15px;
  
  }
 
 #space {
     height: 100px;
     
 }
 
 .bigsearch {
     border-radius: 5px;
     border-color:  #005f5f;
     height: 30px;
     width: 500px;
     font-size: 1.5em;
 }
 .searchbtn {
     width: 50px;
     height:30px;
     background-image: url("http://www.freeiconspng.com/uploads/search-icon-png-2.png");
     background-repeat: no-repeat;
     background-size: 25px;
 }
 
 .button {
/*  font: bold 11px Arial;*/
  text-decoration: none;
  background-color:  #fff;
  color: #333333;  
  padding: 4px 6px 4px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

/*homepage circle */
.circle {
    border-radius: 15%;
    background-color: #005f5f;
    height: 250px;
    width: 250px;
    float:  right;
    
    
}
.circle:hover{
    margin: -4px;
     border-style: solid;
    border-width: medium;
    border-color: deeppink;
   
}
footer{
background-color:#005f5f;
background-image: url("../images/footer.png");
background-repeat: no-repeat;
background-size: 100%;
margin:0;
padding:0;
width:100%;
height:100px;

}